/* General */
@font-face {
    font-family: proxima_light;
    src: local(proxima_light), url('../css/fonts/ProximaNova-Light.otf') format('opentype');
}
@font-face {
    font-family: proxima_reg;
    src: local(proxima_reg), url('../css/fonts/ProximaNova-Regular.otf') format('opentype');
}
@font-face {
    font-family: proxima_bold;
    src: local(proxima_bold), url('../css/fonts/ProximaNova-Bold.otf') format('opentype');
}
.navbar .brand {
	color: #f2108a
}
.navbar .brand, .navbar {
	text-transform: uppercase;
}
body {
	font-family: proxima_reg, sans-serif;
	color: #4444;
	/*font-size: 16px;*/
	line-height: 135%;
	margin: 59px 0 30px 0;
}
.container, 
.navbar-static-top .container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
	width: 940px;
}
body#home {
	background-color: #353535;
}
body.subnavbar {
	margin: 80px 0 0 0;
}
h1,h2,h3,h4 {
	font-family: proxima_light, sans-serif;
}
a:hover>img {
	opacity: 0.6
}
/* Components */

/*Dropdown Menu - Override */
.dropdown-menu {
	-webkit-border-radius:0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0 0 0 -1px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	background: #f2108a;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #333;
  background-color: #f9f9f9;
}
.navbar .nav > li > .dropdown-menu:before {

  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-bottom-color: none;
  content: '';
}
.navbar .nav > li > .dropdown-menu:after {
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
  content: '';
}
.nav-tabs > li > a {
  -webkit-border-radius: 0 0 0 0;
     -moz-border-radius: 0 0 0 0;
          border-radius: 0 0 0 0;
}
/* Sub Navbar */
.sub-navbar {
	position: fixed;
	top: 41px;
	width: 100%;
	padding: 4px 0;
	background-color: #efefef;
	border-bottom: 1px solid #d9d9d9;
	color: #666;
	font-size: 0.7em;
	font-size: 0.8rem;
}
/* Default button set (flat-style) */
.btnflat,
.btnflat-fluid {
	font-family: proxima_reg, sans-serif;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: 5px 10px;
}
/* Use btnflat-fluid to fill 100% of its container */
.btnflat-fluid {
	width: 100%
}
/* Button Color Sets */
/* Default color for general use */
.default {
	border-color: #c2c2c2;
	background-color: #ccc;
	color: #444;
}
.default:hover {
	background-color: #f9f9f9;
	border: 2px solid #dedede;
	color: #666;
}
.default:active {
	background-color: #ccc;
	border: 2px solid #333;
	color: #fff;
}
/* Reversed color */
.dark {
	background-color: #212121;
	border-color: #111;
	color: #ccc;
}
.dark:hover {
	background-color: #444;
	border: 2px solid #333;
	color: #ccc;
}
.dark:active {
	background-color: #ccc;
	border: 2px solid #333;
	color: #555;
}
/* Call to Action button */
.action {
	border: 2px solid #f4794c;
	background-color: #ff7f50;
	color: #fff;
}
.action:hover {
	background-color: #ff6026;
	border: 2px solid #c93600;
	color: #fff;
}
.action:active {
	background-color: #ff7f50;
	border: 2px solid #a62c00;
	color: #fff;
}
.addcart {
	padding-top:23px;
	padding-bottom: 23px;
	font-size: 1.4rem;
}
/* Shopping Cart */
.shopcart th {
	text-transform: uppercase;
}
.shopcart td.text-align {
	text-align: right;
	text-transform: uppercase;
} 
td.shopcart-total {
	background-color: #efefef;	
}

/* Components: Shared */
.wrapper {
	margin: 0 0 20px 0;
}

/* Carousel (home slider) */
.carousel {
	margin: -18px 0 0 0;
	padding: 0;
}
.carousel-indicators {
	right: 25px;
}
.carousel-inner > .item {
	margin: 0;
}
.carousel-inner > .item > img {
	border: none;
}
.carousel-caption {
	padding-top: 100px;
	bottom: 170px;
	width: 250px;	
	border-bottom: 5px solid #fcff00;
}
.carousel-caption > h1, .carousel-caption > ul > li {
	font-family: proxima_light, sans-serif;
	font-weight: normal;
	color: #999;
	text-transform: uppercase;
}
 .carousel-caption > ul > li {
 	font-size: 0.8rem
 }
 .carousel-caption > h1 > a {
 	color: #ccc;
 }
  .carousel-caption > h1 > a:hover {
 	color: #f2108a;
 	text-decoration: none;
 }
/* Carousel Box Position */
.pos1 {
 	left: 0px;
 }
.pos2 {
	left: 500px;
}
.pos3 {
	left: 800px;
}

/* Products */
.prod {
	margin: 0 0 30px 0
}
.prod img {
	display: block;
	width: 100%;
	background-color: #333;
	border: 1px solid #e5e5e5;
}
.prod span {
	display: block;
	text-align: center;
}
.prod-meta {
	padding: 30px 0 15px 0;
	color: #555
}
.prod-title {
	text-transform: uppercase;
}
.prod-price {
	line-height: 110%;
	font-family: proxima_bold, sans-serif;
}
.prod-price.line-through {
	font-family: proxima_light, sans-serif;
	text-decoration: line-through;
	color: #999;
}

.prod-tab>.nav {
	margin-bottom: 0;
}
/* Tab pane in product details */
.tab-content {
	margin: 0 0 20px 0;
	padding: 8px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.tab-pane {
	max-height: 120px;
	font-size: 0.9rem;
	line-height: 125%;
}
/* Product Details */
.prod-details-container {
	margin-bottom: 60px;
}
.prod-details {
	color: #555;
}
.prod-details h2 {
	margin-top:0;
}
.prod-details h2, .prod-details p,.prod-price {
	margin-bottom: 20px;
}
.prod-related {
	margin: 10px 0 20px 0;
}
.prod-minithumb li {
	margin-bottom: 5px;
}
.prod-minithumb a>img {
	border: 2px solid #fff;
	display: block;
}
.prod-minithumb a:hover>img {
	border: 2px solid #f2108a;
}
.prod-price-details {
	font-size: 1.8rem;
	line-height: 100%;
	font-family: proxima_light, sans-serif;
	margin-bottom: 15px;
	padding-top: 10px;
}
.prod-price-details span {
	display: block;
}
.prod-price-details .discounted {
	text-decoration: line-through;
	color: #999;
	font-size: 1.2rem;
}
.prod-price-details .discount,.prod-price-details .outstock {
	color: white;
	padding: 15px 10px;
}
.prod-price-details .outstock {
	font-size: 1rem;
	padding: 0 10px
}
/* Product Status */
.prod-status {
	text-align: center;
	padding: 5px;
	color: #fff;
	font-weight: bold;
}
.outstock,.prod-price-details.outstock {
	background-color: #ffba00
}
.disc,.prod-price-details .discount {
	background-color: #fd1e20;
}
.cta li {
	margin-bottom: 3px;
}
/* Product Style 2 */
.prod2 {
	vertical-align: top;
	font-size: 0.8rem;
	line-height: 1rem;
}
.prod2 img {
	width: 45%;
	display: block;
	float: left;
	margin-right: 10px;
	border: 1px solid #e5e5e5;
}
.prod2-meta {
	float: left;
	width: 45%;
	color: #555;
}
.prod2-meta span {
	display: block;
	margin-bottom: 10px;
}
.prod2-meta span.prod-desc {
	font-size: 0.8rem;
}

/* Components: Color Tags */
.color-tag {
	margin: 0px 5px 5px 0;
	line-height: 2rem;
	font-size: 0.9rem;
}
.color-tag a {
	border: 2px solid #FFF;
	padding: 5px 10px;
	color: #fff;
}
.color-tag a:hover {
	border: 2px solid #666;
	text-decoration: none;
}
.color-tag.selected a {
	border: 2px solid #666;
}
.color-tag.selected a:hover {
	border: 2px solid #999;
}
.salmon>a { 
	background-color: #FA8072;
}
.teal>a {
	background-color: #008080;
}
.minty>a {
	background-color: #7eca0e;
}
.navyblue>a  {
	background-color: #000080;
}
.crimson>a  { 
	background-color: #DC143C;
}
.indigo>a  { 
	background-color: #4B0082;
}
.khaki>a  { 
	background-color: #C3B091;
}
.maroon>a  { 
	background-color: #800000;
}
.golden>a  {
	background-color: #FFD700;
}
.coral>a  { 
	background-color: #FF7F50;
}
.hotpink>a  { 
	background-color: #FC0FC0;
}
.forestgreen>a  { 
	background-color: #228B22;
}
.lavender>a  {
	background-color: #B57EDC;
}
.azure>a  {
	background-color: #007FFF;
}
.ivory>a  { 
	background-color: #FFFFF0;
}
.aquamarine>a  { 
	background-color: #7FFFD4;
}
.lime>a  {
	background-color: #BFFF00;
}
.olive>a  { 
	background-color: #008080;
}
/* Section Title */
.section-title {
	margin: 10px 0 25px 0;
}
.section-title span {
	background-color: #fa8072;
	color: #fff;
	padding: 5px 10px;
	font-size: 0.9rem;
	font-size: 0.8em;
}
/* Component: Size Tags*/
.size-tag {
	margin-right: 10px;
}
.size-tag a {
	border: 1px solid #ccc;
	text-transform: uppercase;
	padding: 4px 5px 2px 5px;
	font-size: 0.9rem;
	line-height: 2rem;
	color: #333;
}
.size-tag a:hover,.size-tag.selected a {
	background-color: #f2108a;
	text-decoration: none;
	color: #fff;
	border: 1px solid #f2108a;
}
/* Component: Quick Cart */
.quickcart {
	background-color: #fff;
	color: #333;
	font-size: 0.8rem;
	margin: 0 -1px 0 0;
	/* overriding bootstrap .dropdown-menu */
	padding: 7px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 250px;
}
.qcart-item {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #efefef;
}
.qcart-item.row {
	margin-left: 0;
}
.qcart-item [class*="span"] {
	margin-left: 0;	
}
.qcart-details {
	padding-left: 5px;
}
.qcart-details span {
	display: block;
}
.qcart-item-name {
	text-transform: none;
}
.qcart-action {
	text-align: center;
	text-transform: uppercase;
}
.qcart-action p {
	margin: 0;
	padding: 5px;
}
.qcart-count {
	background-color: #f2108a;
	padding: 5px 10px;
	color: #fff;
}
/* Checkout Form */
.checkout .form-horizontal label {
	text-align: left;
}
.checkout input {
	border-radius: 0;
}
.checkout .form-horizontal select {
	width: auto;
}
.select-payment li {
	float: left;
	margin-right: 10px;
}
.select-payment img {
	display: block;
}
.checkout.summary th {
	background-color: #efefef;
	font-weight: bold;
	text-transform: uppercase;
}
.checkout.summary h4 {
	color: #f2108a;
	padding: 0 0 10px 0
}
.place-order {
	margin: 20px 0 40px 0;
	padding: 30px 0 0 0;
	border-top:2px solid #ccc
}
.place-order p {
	padding: 20px 0;
}
/* Mix & Match (mm) */
.mm .carousel {
	margin: 0 0 0 0;
}

.mm-cover {
	margin-bottom: 20px;
}
.mm-heading {
	text-align: center;
	padding: 20px 0 10px 0;
	margin-bottom: 20px;	
	border-bottom: 4px solid #ccc;
}
.mm-footer {
	text-align: center;
	padding: 30px 0 30px 0;
	margin-top: 40px;	
	border-top: 4px solid #ccc;
}
.mm-heading h3,.mm-heading h4,.mm-footer h4 {
	margin: 0;
	text-transform: uppercase;
}
/* Page Footer */
#footer {
	background-color: #212121;
	width: 100%;
	color: #ccc;
	font-size: 0.8rem;
	font-style: proxima_light, sans-serif;
	text-transform: uppercase;
	min-height: auto;
}
#footer [class*="span"] {
	padding: 0
}
#footer .navbar-inner {
	padding: 7px 0 0 0;
	min-height: inherit;
	background-image: none;
}
#footer ul {
	margin: 0;
}
#footer a {
	color: #777;
}
/* Large Desktop */
@media (min-width: 1200px) {}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
		margin: 0 0 0 0;
	}
	body.subnavbar {
		margin: 0 0 0 0;
	}
	.container, 
	.navbar-static-top .container, 
	.navbar-fixed-top .container, 
	.navbar-fixed-bottom .container {
		width: auto;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	.sub-navbar {
		position:static;
		margin-bottom: 20px;
	}
	.container {
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	h2 {
		font-size: 24.5px; /* h3 size in desktop */
		line-height: 120%
	}
	.prod-price-details .discounted {
		font-size: 0.8rem;
	}
	.prod-details-container {
		margin-top: 20px;
	}
	.prod2 {
		font-size: 0.7rem;
	}
	.prod-minithumb li {
		float: left;
	}
	.dropdown-menu.quickcart {
		padding: 10px 0
	}
	.quickcart {
		width: auto;
		color: #fff;
		border-bottom-color: #999;
	}
	.qcart-item {
		border-bottom: none;
	}
	.qcart-item [class*="span"] {
		float: left;
		width: auto;	
	}
	/* Product details tab */
	.nav-tabs > li > a,
	.nav-pills > li > a {
	  padding-right: 7px;
	  padding-left: 7px;
	  font-size: smaller;
	}
	#footer {
		position: static;
	}
	/* Carousel */
	.carousel {
		margin: 0 0 0 0
	}
	.carousel-caption {
		position: static;
		width: auto;
		padding: 10px;
		bottom: 0;
		width: auto;	
		border-bottom: 5px solid #fcff00;
	}
	.navbar-fixed-bottom {
		margin-top: 0
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		margin: 0 0 0 0;
	}
	body.subnavbar {
		margin: 0 0 0 0;
	}
	.container, 
	.navbar-static-top .container, 
	.navbar-fixed-top .container, 
	.navbar-fixed-bottom .container {
		width: auto;
	}
	.row-fluid .span4 {
	    width: 36.623931623931625%;
	    *width: 36.570740134569924%;
	 }
	.prod-minithumb li {
		float: left;
	}
	.prod-related [class*="span"] {
		float: left;
		margin-bottom: 5px;
	}
	.prod-minithumb img {
		width: 100%;
	}
	.dropdown-menu.quickcart {
		padding: 10px 0
	}
	.quickcart {
		width: auto;
		color: #fff;
		border-bottom-color: #999;
	}
	.qcart-item {
		border-bottom: none;
	}
	.qcart-item [class*="span"] {
		float: left;
		width: auto;	
	}
	#footer {
		position: static;
	}
	/* Carousel */
	.carousel {
		margin: 0 0 0 0
	}
	.carousel-caption {
		position: static;
		width: auto;
		padding: 10px;
		bottom: 0;
		width: auto;	
		border-bottom: 5px solid #fcff00;
	}
	.navbar-fixed-bottom .container {
		padding: 0 20px;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		margin: 0 0 0 0;
	}
	body.subnavbar {
		margin: 0 0 0 0;
	}
	.container, 
	.navbar-static-top .container, 
	.navbar-fixed-top .container, 
	.navbar-fixed-bottom .container {
		width: auto;
	}
	.navbar .brand {
		padding-left: 0px;
	}
	.navbar .container {
		padding: 0 20px;
	}
	.prod-minithumb li {
		float: left;
	}
	.prod-related [class*="span"] {
		float: left;
		margin-bottom: 5px;
	}
/*	.prod-minithumb img {
		width: 80%;
	}*/
	.prod-related img {
		width: 25%;
	}
	/* Product details tab */
	.nav-tabs > li > a,
	.nav-pills > li > a {
	  padding-right: 7px;
	  padding-left: 7px;
	  font-size: smaller;
	}
	.dropdown-menu.quickcart {
		padding: 10px 0
	}
	.quickcart {
		width: auto;
		color: #fff;
		border-bottom-color: #999;
	}
	.qcart-item {
		border-bottom: none;
	}
	.qcart-item [class*="span"] {
		float: left;
		width: auto;	
	}
	#footer {
		position: static;
	}
	/* Carousel */
	.carousel {
		margin: 0 0 0 0
	}
	.carousel-caption {
		position: static;
		width: auto;
		padding: 10px;
		bottom: 0;
		width: auto;	
		border-bottom: 5px solid #fcff00;
	}
	.carousel-caption>h1 {
		margin: 0;
		font-size: 24.5px;
		line-height: 135%;
	}
	 .carousel-caption > ul > li {
	 	font-size: 0.6rem;
	}
}
